<h6>You're on Dashboard</h6>
<h3>Welcome dear {{name}}</h3>
<p>Hello! Come find your best consultant and go solve the problem!</p>

{{#if consultants}}
<table class="striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Sex</th>
            <th>Location</th>
            <th>Rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each consultants}}
        <tr>
            <td><a href="/consultant/{{_id}}">{{cname}}</a></td>
            <td><span class="dash-status">{{sex}}</span></td>
            <td><span class="dash-status">{{location}}</span></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{else}}
    <p>Sorry, no consultants found</p>
{{/if}}